@require '../lib/custom.bootstrap.import.styl'

#contact-page
  background-size cover
  .spacer
    padding-top 3rem
  .mspacer
    padding-top 1rem

  #contact-confirmed-body
    text-align center

    i.fa
      font-size 8em

    #contact-confirmed-copy.row
      padding-top 3rem
