@require '../lib/custom.bootstrap.import.styl'

#edit-offering
  .well-edit
    padding-top 0px
  .container
    &.no-padding
      padding-top 0px
      padding-bottom 0px
    &.footer-save
      padding-top 0px
      padding-bottom 15px

#preview-expander
  .row
    margin-left -60px
    margin-right -60px
