@require '../../lib/custom.bootstrap.import.styl'

#index-page
  video::-webkit-media-controls
    display:none !important

  #splash.jumbotron
    background-size cover

  #details .small
    color $gray-dark

  #bgvid-overlay
    background-image url('/video-overlay.png')
    background-repeat repeat
    opacity 0.4
