@require '../../lib/custom.bootstrap.import.styl'

#index-page

  #splash.jumbotron
    margin-bottom 0px
    position relative
    max-height 80vh
    overflow hidden
    padding 0px !important

  #splash
    h1
      font-size 5vmax
    h2
      font-size 4vw
    .container-fluid
      position absolute
      top 0px
      width 100%
    li
      margin-bottom 3vw
    .spacer
      margin-bottom 8vw

    @media only screen and (max-width:$screen-xs)
      .container-fluid
        padding-top 10px
      .spacer
        margin-bottom 6vw
      #imageFallback
        display block
      h1, h2, h3, h4, h5
        text-align center
      #bullets
        display none
      #explore
        text-align center

  #details .small
    padding-top 1.5rem

  #bgvid-overlay
    position absolute
    width 100%
    height 56.25vw
    top 0px
