/*
Copyright (C) Chroma.fund - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Adam Wong <adamwong246@gmail.com>, 2015
*/

// State
// style which represent some state of the UI

@require "lib/custom.bootstrap.import.styl"

@media screen and (max-width: $screen-sm)
  nav #login-dropdown-list a.dropdown-toggle
    pointer-events none

#order-confirmation,
#orders-graph-component,
#post-order
#missing-dl,
#pending-offering,
#pending-dl,
#successfull
  display none
