/*
Copyright (C) Chroma.fund - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Adam Wong <adamwong246@gmail.com>, 2015
*/

// embellish - styles which don't affect the placement of elemements on the page, pertaining to niether inverted on non-inverted areas
@require "../lib/custom.bootstrap.import.styl"

a.oa-address
  background-image url('oaAddress.png')
  background-repeat no-repeat

a.oa-asset
  background-image url('asset.png')
  background-repeat no-repeat

select, input, textarea
  &.form-control
    border-radius $border-radius-base

.splash-text
  -webkit-font-smoothing subpixel-antialiased

.jumbotron
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
