/*
Copyright (C) Chroma.fund - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Adam Wong <adamwong246@gmail.com>, 2015
*/

// embellish/default - styles which don't affect the placement of elemements on the page for the plain, dark area of the pages
@require "../lib/custom.bootstrap.import.styl"

:not(.inverse)
  .well
    background linear-gradient(to bottom, rgba(150, 150, 150, .6),  rgba(150, 150, 150, .4)) !important
    border none

button.cancel-link
  color $gray-light

h1, h2
  text-decoration none !important

.modal
  color $gray-darker

button, input, optgroup, select, textarea
  color $gray-darker

.input-group-addon
  background-color $gray-lighter
  color chroma-inverse-p-color !important

hr
  color black

.well.well-light
  background-color $gray-lighter !important

.row.admin
  background-image cf-danger-gradient !important
  color $gray-darker !important

.legal
  color $gray-light !important

.markdownPreview span.preview
  color $gray-darker

a#home-link img
  border-style solid
  border-color $gray-light

.progress-chroma
  background-image cf-rainbow-gradient !important

  .progress-bar
    float right !important
    background-color $gray-darker !important

.btn-Facebook
  color white
  background-color #3B5998

.btn-Google
  color white
  background-color #D34836
